<section class="page-section">
    <div class="wrapper">

    <div class="grid">
        <article class="grid-item grid-item--guides">
            <a class="grid-item__link" href="https://lifetropics.com/blogs/posts">
            <h3 class="grid-item__h3 h3--guides">Supplements Guides »</h3>
            <p class="grid-item__p">Browse our A-Z of the most popular mood, focus and stress supplements. Hundreds of references studies.</p>
            <span class="text-link text-link--guides">Browse supplements »</span>
        </a>
        </article>

        <article class="grid-item grid-item--shop">
            <a class="grid-item__link" href="https://lifetropics.com/blogs/posts">
                <h3 class="grid-item__h3 h3--shop">Newsletter Shop (Launching Soon)</h3>
                <p class="grid-item__p">Properly dosed supplements, fair prices, fast shipping, helpful customer service.</p>
                <span class="text-link text-link--shop">Join our waiting list »</span>
            </a>
        </article>

        <article class="grid-item grid-item--chat">
            <a class="grid-item__link" href="https://lifetropics.com/blogs/posts">
                <h3 class="grid-item__h3 h3--chat">Live-chat »</h3>
                <p class="grid-item__p">Got a question? Maybe what supplement to stack with what you have? Or maybe what to start off with? Just ask - we're here on standby.</p>
                <span class="text-link text-link--chat">Start chatting to Jon »</span>
            </a>
        </article>
    </div>
    </div>
</section>


<section class="page-section">
<div class="wrapper">

    <div class="grid">
        <article class="grid-item">
            <a class="grid-item__link" href="https://lifetropics.com/blogs/posts">
            <span class="grid-item__category">Memory</span>
            <h3 class="grid-item__h3">Alpha GPC</h3>
            <img class="grid-item__image" src="https://cdn.shopify.com/s/files/1/2803/5630/t/28/assets/chess.jpg?15255371226780363644" alt="Chess board">
        </a>
        </article>

        <article class="grid-item">
            <a class="grid-item__link" href="https://lifetropics.com/blogs/posts">
                <span class="grid-item__category">Anxiety</span>
                <h3 class="grid-item__h3">L-Theanine</h3>
                <img class="grid-item__image" src="https://cdn.shopify.com/s/files/1/2803/5630/t/28/assets/man-and-spark.jpg?15255371226780363644" alt="Man and a spark of light">
            </a>
        </article>

        <article class="grid-item">
            <a class="grid-item__link" href="https://lifetropics.com/blogs/posts">
                <span class="grid-item__category">Fatigue</span>
                <h3 class="grid-item__h3">Rhodiola Rosea</h3>
                <img class="grid-item__image" src="https://cdn.shopify.com/s/files/1/2803/5630/t/28/assets/athlete-track.jpg?15255371226780363644" alt="Athlete in front of track">
            </a>
        </article>

        <article class="grid-item">
            <a class="grid-item__link" href="https://lifetropics.com/blogs/posts">
            <span class="grid-item__category">Sex Drive</span>
                <h3 class="grid-item__h3">Tongkat Ali</h3>
                <img class="grid-item__image" src="https://cdn.shopify.com/s/files/1/2803/5630/t/28/assets/athlete-track.jpg?15255371226780363644" alt="Athlete in front of track">
            </a>
        </article>

    </div>

    <footer class="page-section__footer">
        <a class="button button--secondary" href="https://lifetropics.com/blogs/posts">Browse all Supplement Guides →</a>
    </footer>

</div>
</section>




