


<div class="wrapper">
<section class="latest-posts">

    <header class="latest-posts__header">
        <h2 class="latest-posts__h2">Latest posts - interesting nutrition studies, self-optimization and neuroscience etc.</h2>
    </header>

    <div class="latest-posts-grid">
        <article class="latest-post">
            <a class="latest-post__link" href="https://lifetropics.com/blogs/posts">
            <img class="latest-post__image" src="https://cdn.shopify.com/s/files/1/2803/5630/t/28/assets/chess.jpg?15255371226780363644" alt="Chess board">
            <h3 class="latest-post__h3">Can 90% of us can take a Choline supplement to beat brain-fog and improve our memory..?</h3>
        </a>
        </article>

        <article class="latest-post">
            <a class="latest-post__link" href="https://lifetropics.com/blogs/posts">
            <img class="latest-post__image" src="https://cdn.shopify.com/s/files/1/2803/5630/t/28/assets/man-and-spark.jpg?15255371226780363644" alt="Man and a spark of light">
                <h3 class="latest-post__h3">If you can't relax... Brain scans reveal green tea and L-Theanine mimic meditation.</h3>
            </a>
        </article>

        <article class="latest-post">
            <a class="latest-post__link" href="https://lifetropics.com/blogs/posts">
            <img class="latest-post__image" src="https://cdn.shopify.com/s/files/1/2803/5630/t/28/assets/athlete-track.jpg?15255371226780363644" alt="Athlete in front of track">
                <h3 class="latest-post__h3">For working late, Russian Olympic athletes took this herb for 5 hour energy boosts.</h3>
            </a>
        </article>
    </div>

    <footer class="latest-posts__footer">
        <a class="button button--secondary" href="https://lifetropics.com/blogs/posts">See more research studies →</a>
    </footer>

</section>
</div>