<ul class="slide-navigation">
	<li class="slide-navigation__item"><a class="slide-navigation__link" href="#">Home</a></li>
	<li class="slide-navigation__item"><a class="slide-navigation__link" href="#">Portfolio</a></li>
	<li class="slide-navigation__item"><a class="slide-navigation__link" href="#">About</a></li>
	<li class="slide-navigation__item"><a class="slide-navigation__link" href="#">Blog</a></li>
	<li class="slide-navigation__item"><a class="slide-navigation__link" href="#">Contact</a></li>
</ul>

<input type="checkbox" id="nav-trigger" class="nav-trigger" />
<label for="nav-trigger"></label>