
/*
.banner {
    padding-top: $spacing*2;
    padding-bottom: $spacing*2;
    text-align: left;
    @include tablet {
        padding-top: $spacing*4;
        padding-bottom: $spacing*4;
    }
}

.home-banner {
    background: linear-gradient(to bottom right,#111217,#484d60);
    color: $text-color-light;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    @include tablet {
        -webkit-box-align: center;
        justify-content: center;
    }
}

.home-banner__layout {
    @include tablet {
    display: flex;
    }
}

.home-banner__copy {
    display: flex;
    flex-direction: column;
    align-items: start;
    @include tablet {
        margin-right: $spacing;
    }
}

.banner-media {
    @include tablet {
        width: 70%;
    }
}

.home-banner__headline, .home-banner__description {
    color: $text-color-light;
}

.home-banner-buttons {
    display: flex;
    flex-direction: column;
    @include tablet {
        flex-direction: row;
        justify-content: center;
    }
}

.home-banner__button {
    display: block;
    padding: 0.5rem 1rem;
    border: solid 1px #cd282f;
    border-radius: 0 2px 2px 0;
    font-family: $font-sans-serif;
    background-color: #cd282f;
    color: $text-color-light;
}

.home-banner__button:hover {
    text-decoration: none;
}

.home-banner__button--posts {
    margin-bottom: $spacing/2;
    @include tablet {
    margin-bottom: 0;
    margin-right: $spacing;
    }
}

.home-banner__button--shop {
    display: block;
    padding: 0.5rem 1rem;
    border: solid 1px $text-color-light;
    border-radius: 0 2px 2px 0;
    font-family: $font-sans-serif;
    background: transparent;
    color: $text-color-light;
}

.home-section {
    padding-top: $spacing;
    padding-bottom: $spacing;
    @include tablet {
        padding-top: $spacing*3;
        padding-bottom: $spacing*3;
    }
}

*/