$grey-1: #030303;
$grey-2: #666666;
$grey-3: #818181;
$grey-4: #b3b3b3;
$grey-5: #e6e6e6;
$grey-6: #ffffff;

$page-background-color: #fff; //f9f9f9
$primary-color: #000;
$secondary-color: #fff;
$heading-color: rgb(71, 71, 71);
$text-color: rgb(45, 45, 45);
$text-color-light: #fff;
$link-color: #cd282f;
$link-color-light: #fff;

$font-sans-serif: 'Roboto', sans-serif;
$font-serif: 'Lora', serif;

$base-line-height: 1.5;
$spacing: 1rem * $base-line-height; // 28.8px
$website-width: 960px;

$weight-light: 300;
$weight-normal: 400;
$weight-bold: 700;

// Screen sizes (styles apply to anything less than $tablet by default)
$tablet: 600px;
$desktop: 960px;

$black: #343838;
$blue: #00DFFC;
$dullWhite: #f6f6f6;
$easing: cubic-bezier(.6, .05, .28, .91);