<footer class="site-footer" id="site-footer">

  <div class="wrapper">

    <div class="site-footer__layout">

    <div class="site-footer__column">
    <h3 class="footer-menu-title">Browse</h3>
      <ul class="footer-menu">
        <li class="footer-menu__item">
        <a class="footer-menu__link" href="/">Contact</a>
        </li>
        <li class="footer-menu__item">
        <a class="footer-menu__link" href="/">Terms and Conditions</a>
        </li>
        <li class="footer-menu__item">
        <a class="footer-menu__link" href="/">Privacy Policy</a>
        </li>
        <li class="footer-menu__item">
        <a class="footer-menu__link" href="/">Frequently Asked Questions</a>
        </li>
      </ul>
    </div>

    <div class="site-footer__column">
    <h3 class="footer-menu-title">Resources</h3>
      <ul class="footer-menu">
        <li class="footer-menu__item">
        <a class="footer-menu__link" href="/">Contact</a>
        </li>
        <li class="footer-menu__item">
        <a class="footer-menu__link" href="/">Terms and Conditions</a>
        </li>
        <li class="footer-menu__item">
        <a class="footer-menu__link" href="/">Privacy Policy</a>
        </li>
        <li class="footer-menu__item">
        <a class="footer-menu__link" href="/">Frequently Asked Questions</a>
        </li>
      </ul>
    </div>

    <div class="site-footer__column">
    <h3 class="footer-menu-title">Legal</h3>
      <ul class="footer-menu">
        <li class="footer-menu__item">
        <a class="footer-menu__link" href="/">Terms and Conditions</a>
        </li>
        <li class="footer-menu__item">
        <a class="footer-menu__link" href="/">Privacy Policy</a>
        </li>
        <li class="footer-menu__item">
        <a class="footer-menu__link" href="/">Frequently Asked Questions</a>
        </li>
      </ul>
    </div>

    <div class="site-footer__column">
    <h3 class="footer-menu-title">Contact</h3>
      <ul class="footer-menu">
        <li class="footer-menu__item">
        <a class="footer-menu__link" href="/">Live-chat</a>
        </li>
        <li class="footer-menu__item">
        <a class="footer-menu__link" href="/">Email</a>
        </li>
      </ul>
    </div>

  <!-- site-footer__layout -->
  </div>


<div class="footer-legal">
  <p class="footer-legal__text">Copyright © 2018, Lifetropics Limited.</p>
  <p class="footer-legal__text">Company Number: 11427687</p>
  <p class="footer-legal__text">Registered in England and Wales</p>
  <p class="footer-legal__text">30 Parkside Quarter, Essex, CO1 1EA, United Kingdom</p>
</div>

  <!-- wrapper -->
  </div>


</footer>


{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "link_list",
        "id": "footer_linklist",
        "label": "First menu",
        "default": "footer"
      },
      {
        "type": "checkbox",
        "id": "show_payment_icons",
        "label": "Show payment icons",
        "default": false
      }
    ]
  }

{% endschema %}
