<header class="masthead">

    <a href="/" class="masthead-logo">
        {{ shop.name }}
    </a>

    <nav class="navigation">

        <span class="navigation__button" style="font-size:1rem;cursor:pointer" onclick="openNav()">&#9776; open</span>

        <ul class="navigation-menu">

            <li class="navigation__item"><a class="navigation__link navigation__link--dropdown" href="https://lifetropics.com/account">Nutrition Guides</a></li>
                <ul class="dropdown-menu">
                    <li class="dropdown__item"><a class="dropdown__link" href="/">Alpha GPC</a></li>
                    <li class="dropdown__item"><a class="dropdown__link" href="/">CDP Choline</a></li>
                    <li class="dropdown__item"><a class="dropdown__link" href="/">L-Theanine</a></li>
                    <li class="dropdown__item"><a class="dropdown__link" href="/">Rhodiola Rosea</a></li>
                </ul>

            <li class="navigation__item">
                <a class="navigation__link" href="https://lifetropics.com/pages/contact">Customer Info</a>
            </li>

        </ul>
    </nav>

    <ul class="customer-menu">
            <a href="/account" class="navigation-account">
                <svg class="navigation-account__svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user"><path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"></path><circle cx="12" cy="7" r="4"></circle></svg>
                <span class="navigation-account__text">
                    Account
                </span>
            </a>

            <a href="/cart" class="navigation-cart">
                <svg class="navigation-cart__svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-cart"><circle cx="9" cy="21" r="1"></circle><circle cx="20" cy="21" r="1"></circle><path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path></svg>
                <span class="navigation-cart__text">
                    {{ 'layout.cart.title' | t }}
                </span>
                <span class="navigation-cart__count">
                    ({{ cart.item_count }})
                </span>
            </a>
        </ul>

</header>


<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="#">About</a>
  <a href="#">Services</a>
  <a href="#">Clients</a>
  <a href="#">Contact</a>
</div>

