@charset 'UTF-8';

/**
 * [replace with theme name] | Built with Slate
 */
@import '~normalize.css/normalize';

// Settings
@import './variables';

// Tools
@import './tools/mixins';
@import './tools/functions';

// Core
@import './core/forms';
@import './core/helpers';
@import './core/layout';
@import './core/media';
@import './core/responsive-tables';
@import './core/rte';
@import './core/typography';

// Components
@import './components/buttons';
@import './components/hero-banner';
@import './components/icons';
@import './components/placeholders';
@import './components/responsive-images';

// Sections
@import './sections/blog-posts';
@import './sections/collection-list';
@import './sections/featured-collection';
@import './sections/image-with-text';

// Templates
@import './templates/gift_card';
@import './templates/product';

// Sandbox
@import './sandbox/reset';
@import './sandbox/essential';
@import './sandbox/variables';
@import './sandbox/mixins';
@import './sandbox/typography';
@import './sandbox/global';

@import './sandbox/widths';
@import './sandbox/flexbox';
@import './sandbox/grid';
@import './sandbox/sections';

//@import './sandbox/site-header';
@import './sandbox/masthead';
@import './sandbox/main-content';
@import './sandbox/newsletter';
@import './sandbox/ribbons';
@import './sandbox/site-footer';
@import './sandbox/banner';
@import './sandbox/buttons';

// Types of pages
@import './sandbox/posts';
@import './sandbox/latest-posts';
@import './sandbox/helpers';

@import './templates/login';